{% extends parent %}

{% block content %}
<div id="photoviewer">
  <div class="gallery">
    <img src="" class="photo" alt="" title="Click to show next photo." />
  </div>
  <div class="actions">
    <a class="icon fullscreen">&nbsp;</a>
  </div>
  <div class="navigation">
    <a class="prev" title="Previous photo">‹</a>
    <a class="next" title="Next photo">›</a>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function() {
    new document.PhotoViewer('{{json|safe}}');
  });
</script>
{% endblock %}
