{% extends parent %}

{% load fb_versions %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <div id="album-container">
      {% for album in album_list %}
      <div class="album{{forloop.counter}}">
        {% with album.photos.all|first as photo %}
        <a href="{% url 'photos:detail' album.slug %}" rel="gallery">
          {% with album.photos.all|first as photo %}
          <img src="{% version photo.image 'album-bubble' %}" alt="" />
          {% endwith %}
        </a>
        {% endwith %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
