{% extends parent %}

{% block content %}
<div id="photoviewer">
  <div class="gallery">
    <img src="" class="photo" alt="" title="Click to show next photo." />
  </div>
  <div class="actions">
    <a class="share" title="Share"><i class="icon-share"></i></a>
    <a class="fullscreen" title="Toggle fullscreen"><i class="icon-fullscreen"></i></a>
  </div>
  <div class="navigation">
    <a class="prev" title="Previous photo"><i class="icon-chevron-left"></i></a>
    <a class="next" title="Next photo"><i class="icon-chevron-right"></i></a>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function() {
    new document.PhotoViewer('{{json|safe}}');
  });
</script>
{% endblock %}
