{% extends "base.html" %}

{% load fb_versions %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <div class="page-header">
      <h2>Overview</h2>
    </div>
  </div>
</div>
<div class="row">
  {% for album in album_list %}
  <div class="two columns">
    <a href="#album-{{album.id}}" data-album-id="{{album.id}}">
      {% with album.photos.all|first as photo %}
      <p><img src="{% version photo.image 'avatar' %}" alt="" class="avatar" /></p>
      {% endwith %}
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
