@import 'bourbon/bourbon'

@import 'variables'

@import 'base'
@import 'typography'
@import 'boxes'

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400)


header
  color: $text-color
  border-bottom: 1px solid #333
  box-shadow: 0 1px 1px #080808

  .boxes .box
    margin-top: 0
    margin-bottom: 0

  .logo
    height: 47px
    width: 47px
    margin-bottom: -6px

svg.logo > g > path
  stroke: $text-color
