{% extends parent %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <div class="page-header">
      <h2>Journals <small>A teaser for our next level of photo blog</small></h2>
    </div>
  </div>
</div>
<div style="height: 75px;"></div>
<div class="row">
  <div class="four columns" style="text-align: center;">
    <img src="{{MEDIA_URL}}uploads/teasers/newcastle2013.jpg" alt="Newcastle 2013" class="avatar"/>
    <h3>Newcastle, England</h3>
  </div>
  <div class="four columns" style="text-align: center;">
    <img src="{{MEDIA_URL}}uploads/teasers/stockholm2013.jpg" alt="Stockholm 2013" class="avatar"/>
    <h3>Stockholm, Sweden</h3>
  </div>
  <div class="four columns" style="text-align: center;">
    <img src="{{MEDIA_URL}}uploads/teasers/more.jpg" alt="more" class="avatar"/>
    <h3>... and more!</h3>
  </div>
</div>
<div style="height: 75px;"></div>
<div class="row">
  <div class="twelve columns">
    <blockquote>
      <p>&ldquo;Build to provide you a real-time impressions during our journeys from around the world.&rdquo;</p>
    </blockquote>
  </div>
</div>
{% endblock %}
