{% extends parent %}

{% load compress %}
{% load fb_versions %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <div class="page-header">
      <h2>
        Journals
        <div class="inline">
          <a href="{% url 'journals:map' %}">Map</a>
        </div>
      </h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    {% for journal in journal_list %}
    <div class="six columns">
      <a href="{% url 'journals:detail' journal.slug %}">
        <img src="{% version journal.get_highlight_photos.0.image 'avatar' %}" alt="Highlight" class="avatar" style="display: inline;">
      </a>
      <a href="{% url 'journals:detail' journal.slug %}">
        <h4>{{journal.name}}</h4>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
