{% extends parent %}

{% load compress %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <div class="page-header">
      <h2>Journals <small>{{journal.name}}</small></h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div id="map-canvas" style="width: 100%; height: 200px;"></div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.13&key=AIzaSyAPF9Px1e0Tz5TOh-TdcUFtBFLG1CmDzIc&sensor=false"></script>
{% compress js %}
<script src="{{STATIC_URL}}coffeescripts/maps-api.coffee" type="text/coffeescript"></script>
{% endcompress %}
<script type="text/javascript">
  var journals = [
  {% for entry in journal.entries.all %}  {'location': [{{entry.location}}], 'slug': '{{entry.id}}'},
  {% endfor %}];

  $('#pjax-container').on('pjax:end', function() {
    initializeMaps();
  });

  google.maps.event.addDomListener(window, 'load', initializeMaps);
</script>
{% endblock %}
