#photoviewer
  margin: -25px 0
  .gallery
    width: 95%
    margin: 0 auto
    .photo
      margin: 0 auto
      display: block
  .navigation
    position: fixed
    right: 15px
    bottom: 10px
  a
    border: 1px solid #e5e5e5
    background-color: #f5f5f5
    display: block
    cursor: pointer
    font-size: 3.5em
    line-height: 0.75em
    text-shadow: 0 0 1px black
    width: 44px
    padding-bottom: 6px
    margin-right: -1px
    text-align: center
    color: #4d4d4d
    &:hover
      color: #777777
    &:not(.close)
      float: left
