#photoviewer
  margin: -25px 0
  .gallery
    width: 95%
    margin: 0 auto
    .photo
      margin: 0 auto
      display: block
  .navigation
    position: fixed
    right: 15px
    bottom: 10px
  a
    display: block
    cursor: pointer
    font-size: 3.5em
    line-height: 0.75em
    font-weight: bold
    color: #c6c6c6
    text-shadow: 0 0 1px black
    padding: 10px
    &:hover
      color: #e5e5e5
    &:not(.close)
      float: left
