h1, h2, h3, h4, h5, h6
  font-family: $fontFamily
  font-weight: 300
  line-height: 1.1
  margin: 14px 0
  padding: 0

h1
  font-size: 44px
h2
  font-size: 37px
h3
  font-size: 27px
h4
  font-size: 23px
h5
  font-size: 17px
h6
  font-size: 14px

a
  text-decoration: none
  color: rgb(71, 112, 160)
  &:hover
    color: rgb(91, 132, 190)

.page-header
  padding-bottom: 9px
  margin: 20px 0 30px 0
  border-bottom: 1px solid #e5e5e5

p
  text-align: justify

small
  font-size: 10px

blockquote
  margin: 1.5em 1.5em 1.5em 1.8em
  position: relative
  font-family: Georgia, serif
  font-style: italic

  > p
    padding-bottom: 1.5em

  &:before
    content: "\201C"
    font-size: 58px
    line-height: 1em
    position: absolute
    left: -0.6em
    top: 0
