/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

footer {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    padding: 70px;
    margin-top: 70px;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */




/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


