/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
body {
    background-color: #f5f5f5;
}

html {
    overflow-y: scroll;
}

body, p, small {
    font-family: "Open Sans", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
    text-shadow: 0 0 1px rgba(77,77,77,0.5);
    color: #4D4D4D;
}

content {
    display: block;
    padding: 50px 0;
    background-color: #ffffff;
}

p {
    text-align: justify;
}

small {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

header {
    border-bottom: 1px solid #e5e5e5;
}

header .button-group {
    margin-top: 25px;
}

header .navigation {
    height: 40px;
    margin-top: 20px;
    padding: 0;
}



@media only screen and (min-width: 768px) {
    header .link-list {
        margin-top: 30px;
    }
}

header a,
footer a {
    color: #4d4d4d !important;
}

header a:hover,
footer a:hover {
    color: #777777 !important;
}

header .navigation > li {
    float: left;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 38px;
}

header .navigation > li > a:first-child {
    position: relative;
    padding: 0 20px;
    display: block;
    text-decoration: none;
    font-size: 14px;
}

footer {
    border-top: 1px solid #e5e5e5;
    padding: 70px;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.image {
    position: relative;
    line-height: 0;
    margin-bottom: 20px;
}

.image:last-child {
    margin-bottom: 0;
}

.image .description {
    line-height: 1;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.image .description > div {
    display: inline-block;
    color: #efefef;
    padding: 10px;
}

.image:hover .description {
    opacity: 1;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Image fullscreen gallery
----------------------------------------- */

.gallery-background {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
}

.gallery {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}

.gallery > img {
    max-height: 100%;
    max-width: 100%;
}

.gallery > a {
    cursor: pointer;
    position: fixed;
    top: 50%;
    display: block;
    font-size: 80px;
    line-height: 60px;
    color: #c6c6c6;
    text-shadow: 0 0 1px black;
    padding: 20px;
    margin-top: -50px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.gallery:hover > a {
    opacity: 1;
}

.gallery > .prev {
    left: 0;
    text-align: left;
}

.gallery > .next {
    right: 0;
    text-align: right;
}
