{% load compress static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}devisio{% endblock %}</title>
    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/vendor/normalize.css' %}">
    <link type="text/x-sass" rel="stylesheet" href="{% static 'sass/devisio.sass' %}">
    {% endcompress %}
  </head>
  <body>
    <header>
      <h1>
        {% include "devisio/logo.svg" %}
        devisio
      </h1>
    </header>
    <article>
      {% block content %}{% endblock %}
    </article>
    <footer></footer>
  </body>
</html>
