{% extends parent %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <div class="page-header">
      <h2>About</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <p>devisio.net is a small event based fotoblog.</p>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <h3>Naming</h3>
    <p>devisio.net is named after the combination of the two latin words "de" and "visio". So in a free translation it is meant to stand for "about the vision".</p>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <h3>Members</h3>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{STATIC_URL}}images/about/mirror.jpg" alt="" class="avatar" />
  </div>
  <div class="four columns">
    <h3>mirror</h3>
    <p><a href="mailto:mirror@devisio.net">mirror@devisio.net</a></p>
  </div>
  <div class="two columns">
    <img src="{{STATIC_URL}}images/about/noxan.jpg" alt="" class="avatar" />
  </div>
  <div class="four columns">
    <h3>noxan</h3>
    <p><a href="mailto:noxan@devisio.net">noxan@devisio.net</a></p>
  </div>
</div>
{% endblock %}
